/* цвет основоного текста #757575
черный цвет #212121
белый цвет #FFFFFF
белый прозрачный цвет текста rgba(255, 255, 255, 0.6)
акцент # 2196F3
вторичный цвет фона #F5F4FA */
/* темный цвет фона #2F303A */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --transparent-white-color: rgba(255, 255, 255, 0.6);
  --secondary-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: var(--white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.list {
  list-style: none;
}
/* Logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo .black {
  color: var(--title-text-color);
}
.logo .white {
  color: var(--white-color);
}
/* Header */
.site-nav .current {
  color: var(--accent-color);
}
.site-nav a {
  color: var(--title-text-color);
  text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.header-contacts a {
  color: var(--primary-text-color);
  text-decoration: none;
}
.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--accent-color);
}
.site-nav,
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* Hero */
.hero {
  background-color: var(--dark-background-color);
}
.hero-title {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  background-color: var(--accent-color);
  color: var(--white-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.06em;
}
/* Sections */
.section-title,
.list-title,
.coworkers-list-title,
.portfolio-list-title {
  color: var(--title-text-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/* Coworkers Section */
.coworkers-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.coworkers-position {
  font-size: 16px;
  line-height: 1.19;
}

/* Footer */
footer {
  background-color: var(--dark-background-color);
}
.address {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer-contacts a {
  color: var(--transparent-white-color);
  text-decoration: none;
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--accent-color);
}
/* Portfolio */
.filters button {
  background-color: var(--secondary-background-color);
  color: var(--title-text-color);
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
}
.filters button:hover,
.filters button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list-text {
  font-size: 16px;
  line-height: 1.87;
}
.work-description {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
}
